Package: com.ikiraplus.multitele
Name: MultiTele
Version: 1.0.0
Architecture: iphoneos-arm
Description: Multi-language three-finger Telegram tweak manager for Mx, iQTele and Lead.
Maintainer: iKiraPlus
Author: iKiraPlus
Section: Tweaks
